.home-page-banner{
    width: 100%;
    height: 400px;
    display: flex;
}

.home-page-panel-busqueda{
    background: url("https://www.sportsengine.com/sites/default/files/styles/webp_1200_w/public/images/shutterstock_1026630514.jpg.webp");
    background-size: cover;
    padding: 50px;
}

.panel-busqueda-container {
    background-color: rgba(0,0,0, 0.5);
    padding: 0 25px 25px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
}

.panel-busqueda-input{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.p-inputtext{
    border-radius: 25px;
}

.panel-busqueda-titulo{
    text-align: center;
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: "VarsityTeam";
}

.panel-busqueda-boton-container{
    display: flex;
    justify-content: right;
    margin-top: 25px;
}

.p-button {
    color: black;
}

.p-inputtext:focus + label{
    color: white;
}

.p-inputwrapper-focus + label{
    color: white;
}

.p-inputwrapper-filled + label{
    color: white;
}

.p-filled + label{
    color: white;
}